<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iori.mapper.SkuModelMapper">

		<!-- 通用查询映射结果 -->
		<resultMap id="BaseResultMap" type="com.iori.bean.SkuModel">
					<id column="id" property="id"/>
					<result column="sn" property="sn"/>
					<result column="name" property="name"/>
					<result column="price" property="price"/>
					<result column="num" property="num"/>
					<result column="alert_num" property="alertNum"/>
					<result column="image" property="image"/>
					<result column="images" property="images"/>
					<result column="weight" property="weight"/>
					<result column="create_time" property="createTime"/>
					<result column="update_time" property="updateTime"/>
					<result column="spu_id" property="spuId"/>
					<result column="category_id" property="categoryId"/>
					<result column="category_name" property="categoryName"/>
					<result column="brand_name" property="brandName"/>
					<result column="spec" property="spec"/>
					<result column="sale_num" property="saleNum"/>
					<result column="comment_num" property="commentNum"/>
					<result column="status" property="status"/>
					<result column="version" property="version"/>
		</resultMap>

		<!-- 通用查询结果列 -->
		<sql id="Base_Column_List">
            id, sn, name, price, num, alert_num, image, images, weight, create_time, update_time, spu_id, category_id, category_name, brand_name, spec, sale_num, comment_num, status, version
		</sql>

</mapper>
